@import url(/header.css);
@import url(/banner.css);
@import url(/carrosel.css);
@import url(/noticia.css);

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --gradiante: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 68%, rgba(9,114,217,1) 100%);
    --fonte-principal: "Poppins"
}

body {
   background-color: var(--cor-de-fundo);
   font-family: var(--fonte-principal);
   font-size: 16px;
   font-weight: 400;
}