.banner {
        background: var(--gradiante);
    color: var(--branco);
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2.5em 2em;
}
 
.banner_titulo {
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.banner_texto {
    font-family: var(--fonte-principal);
    font-weight: 700;
    margin: 1em;
}