.email {
   background-color: var(--branco);
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 2em;
}

.email_titulo{
   font-family: var(--fonte-principal);
   color: var(--azul-texto);
   font-size: 1.2rem;
   font-weight: 700;
}

.email_texto {
    font-family: var(--fonte-principal);
    color: var(--azul-texto);
    font-size: 1rem;
    font-weight: 300;
}

.email_pesquisa{
    background-color: transparent;
    padding: 1em; 
    color: var(--branco);
    border: 1px solid var(--azul-texto);
    border-radius: 24px;;
}

.email_pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--azul-texto);
    background: url(/imagens/Email.svg) no-repeat;
    background-position: 1em;
}



.rodape {
    height: 0.5vh;
    margin: 2em;
}

.rodape_lista {
    display: none;
}

@media screen and (min-width:1024px) {

    .rodape{
        height: 48vh;
    }

   .email {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
   }  
   
   .email_titulo {
       font-size: 24px;
   }

   .email_texto {
       padding-top: 14.2px;
       margin-right: -3em;
       width: 81%;
}

   .email_pesquisa {
       width: 30%;
}

   .rodapebox {
      display: flex;    
}

   .rodape_titulo {
      font-size: 24px;
      font-family: var(--fonte-principal);
      font-weight: 400;
      padding-right: 53px;
   }

   .rodape_lista{
      display: flex;
      flex-direction: column;
      gap: 20px;    
   }

}

@media screen and (min-width:1728px) {

   .email {
       height: 16vh;
       padding: 3em 30vw;
   }

   .rodape {
    padding: 3em 0;
   }

   .rodape_lista {
       border-left: 1px solid grey;
       padding-left: 1em;
       margin-right: 17em;
   }   
}