.cabecalho_menu-hamburguer {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("/imagens/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.container_botao:checked~.container_rotulo>.cabecalho_menu-hamburguer {
   background-image: url(/imagens/Menu\ Aberto.svg);    
}

.container_botao:checked~.container_rotulo {
    background: var(--gradiante);
} 

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.containerimg {
    padding: 1em;
}

.container_botao {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    width: 60vw;
    top: 100%;
    padding-left: 0;
}

.container_botao:checked ~.lista-menu{
    display:block;
}
.lista-menu-titulo,
.lista-menu-item{
    background-color: var(--branco);
    padding: 1rem;
}

.lista-menu-titulo{
   font-weight: 700; 
   color: var(--laranja);
}

.lista-menu-link{
    background: var(--gradiante);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;  
    text-decoration: none;
    text-transform: uppercase;
}

.container_titulo {
    display: none;
}

.opcoes{
    display: none;
}

.container_texto {
    display: none;
}

@media screen and (min-width:1024px) {
    .container_titulo, .conatiner_titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .conatiner_titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        padding: 16px;
    }

    .opcoes_item {
        padding: 24px;
    }

    .opcoes_link{
        text-decoration: none;
        color: var(--preto);
    }

    .containerimgtransparente {
        display: none;
    }

    .opcoes_botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }
    
    .opcoes_botao{
        display: none;
    }

    .opcoes_botao:checked~.opcoes_rotulo > .opcoes_item {
       background: var(--gradiante);
       color: var(--branco);
    }

    .opcoes_item {
        padding: 2em 1em
    }

    .lista-menu-item:hover {
        background-color: var( --azul-texto);
    }

    .lista-menu-item:hover>.lista-menu-link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width:1728px) {

   .conatiner_link{
       display: flex;
       align-items: center;
       text-decoration: none;
       color: black;
       padding-right: 30px ;
    }
    
    .opcoes {
        margin-right: auto;
        text-transform: uppercase;    
    }

    .container_texto {
        display: block;
    }

}
